@tailwind utilities;

@import "tailwindcss";
@import "./components.css";
@import "./animations.css";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* базовая тема (light) */
@theme inline {
  --color-bg: var(--bg-color);
  --color-text: var(--text-color);
  --color-search-bg: var(--search-bg);
  --color-card-bg: var(--card-bg);
  --color-product-bg: var(--product-bg);
  --color-product-button-bg: var(--product-button-bg);
  --color-product-button-text: var(--product-button-text);
  --color-unactive-text: var(--unactive-text);
  --color-favorite: var(--color-favorite);
  --color-1banner-bg: var(--1banner-bg);
  --color-2banner-bg: var(--2banner-bg);
  --color-3banner-bg: var(--3banner-bg);
  --color-4banner-bg: var(--4banner-bg);
  --color-iphone-bg: var(--iphone-bg);
  --color-white: var(--white);
  --color-black: var(--black);

  --animate-get-out: get-out 0.4s ease-in-out;
  --breakpoint-md: 850px;
}

 
:root {
  --white: #ffffff;
  --black: #000000;
  --bg-color: #ffffff; /* белый фон */
  --card-bg: #EDEDED;
  --text-color: #000000; /* черный цвет */
  --product-bg: #f6f6f6; /* светло-серый фон для продуктов */
  --product-button-bg: #000000;
  --product-button-text: #ffffff;
  --unactive-text: #8b8b8b;
  --color-favorite: #ff0000;/* красный цвет для избранного */
  --1banner-bg: #EDEDED;/* светло-серый фон для баннера */
  --2banner-bg: #353535;/* более темный серый фон для второго баннера */
  --3banner-bg: #EDEDED;/* светло-серый фон для третьего баннера */
  --4banner-bg: #ffffff;/* более темный серый фон для четвертого баннера */
  --search-bg: #f1f1f1; /* светло-серый фон для строки поиска */
  --iphone-bg: #FF8B45; /* оранжевый фон для iPhone */ 
  --accent-1: #6EE7B7; /* светящийся зелёный */
  --accent-2: #60A5FA; /* голубой */
  --bg-glass: rgba(10,11,13,0.6);


}

.dark {
  --bg-color: #121212; /* темный фон */
  --text-color: #ffffff; /* белый цвет */
  --product-bg: #1e1e1e; /* темно-серый фон для продуктов */
  --product-button-bg: #ffffff;
  --product-button-text: #000000;
  --unactive-text: #5a5a5a;
}


@layer utilities {
  .center {
    justify-content: center;
    align-items: center;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-transparent border w-47 h-14 text-white rounded hover:scale-95 transition;
  }
}
 
